@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
body {
    font-family: arial, helvetica, sans-serif;
}

#content {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

img {
    max-width: 100%
}

nav {
    background-color: #B3903B
}

#middle {
    background-color: #285E70;
}

section {
    padding: 15px;
}

ul {
    font-size: 1.1em;
}

h1,
h2,
h3 {
    color: #B34E3B;
    font-family: "Rock Salt", "Palatino Linotype", serif;
}

h1 {
    line-height: 1.2;
    margin-bottom: .1em;
    margin-top: 1.5em;
}

#top,
#middle {
    display: flex;
    flex-flow: row wrap;
    align-items: center
}

p {
    line-height: 1.5;
}

.second {
    color: darkgray
}

#bottom {
    text-align: center;
    width: 70%;
    margin: 2em auto;
}

#footer {
    height: 55px;
    width: 100%;
    text-align: right;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: space-between
}

.leftcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

.rightcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

.fullwidth {
    width=100%
}

nav li {
    display: inline-block;
}

nav {
    font-size: 1.2em;
    line-height: 3em;
    margin-top: -5em;
    padding-left: 5em;
}

nav ul {
    margin: 0;
}

#logo {
    background-color: white;
    position: relative;
    right: -.5em;
    bottom: -.5em;
    width: 110px;
    border: 2px solid;
    border-color: #B34E3B;
}

a:hover {
    color: #B34E3B;
}

a:visited {
    color: #285E70;
}

nav a {
    padding: 1em .6em
}